USE [master]
GO
/****** Object:  Database [bd_escuela]    Script Date: 18/11/2022 06:34:56 a. m. ******/
CREATE DATABASE [bd_escuela]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_escuela', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\bd_escuela.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bd_escuela_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\bd_escuela_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_escuela].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_escuela]
GO
/****** Object:  User [userSchool]    Script Date: 18/11/2022 06:34:56 a. m. ******/
CREATE USER [userSchool] FOR LOGIN [userSchool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [userSchool]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [userSchool]
GO
/****** Object:  Table [dbo].[alumnos]    Script Date: 18/11/2022 06:34:56 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alumnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[App1] [varchar](50) NOT NULL,
	[App2] [varchar](50) NOT NULL,
	[Grado] [char](1) NOT NULL,
	[Grupo] [char](1) NOT NULL,
	[Estatus] [char](1) NOT NULL,
	[Imagen] [text] NOT NULL,
 CONSTRAINT [PK_alumnos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[alumnos] ADD  CONSTRAINT [DF_alumnos_Estatus]  DEFAULT ('A') FOR [Estatus]
GO
USE [master]
GO
